<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ylioppilas tilastot</title>
</head>

<body>
    <h1>Ylioppilas tilastot</h1>
    <p>Tällä sivulla näet valmistuneiden ylioppilaiden koesuoritukset. Pystyt suodattamaan tulokset koko maan, kaupungin
        ja koulun tasolla</p>

    <h5>Yhteensä ylioppilaita: </h5>

    <form action="#">
        <input type="text" placeholder="valmistus kerta">
    </form>


    <table class="">
        <thead class=" thead-dark">
            <tr>
                <th>Lukio</th>
                <th>pisteet</th>

                {% for column in ['A', 'O', 'Z', 'I', 'W', 'Q', 'A5', 'O5', 'M', 'N', 'BI', 'FF', 'FY', 'HI', 'PS',
                'UE',
                'UO', 'ET', 'GE', 'KE', 'TE', 'YH', 'BA', 'BB', 'CA', 'CB', 'EA', 'FA', 'SA', 'PA', 'VA', 'EC', 'FC',
                'SC',
                'PC', 'VC', 'DC', 'IC', 'QC', 'GC', 'TC', 'L1', 'L7'] %}


                <th>{{ column }}</th>
                {% endfor %}

            </tr>
        </thead>

        {% set value_to_letter = {"0": 'I',"2": 'A','3': 'B','4': 'C', '5': 'M','6': 'E', "7": 'L'} %}

        {% for post in posts %}
        <tr>
            <td>{{ post['koulun_nimi'] }}</td>
            <td>{{ post['yht'] }}</td>

            {% for column in ['A', 'O', 'Z', 'I', 'W', 'Q', 'A5', 'O5', 'M', 'N', 'BI', 'FF', 'FY', 'HI', 'PS', 'UE',
            'UO', 'ET', 'GE', 'KE', 'TE', 'YH', 'BA', 'BB', 'CA', 'CB', 'EA', 'FA', 'SA', 'PA', 'VA', 'EC', 'FC', 'SC',
            'PC', 'VC', 'DC', 'IC', 'QC', 'GC', 'TC', 'L1', 'L7'] %}
            {% set value = post[column] %}
            <td>{{ value_to_letter[value] }}</td>
            <!-- {% if value %} THIS IS TO SAVE SPACE SO IT ONLY SHOWS THE VALUES

            {% endif %} -->
            {% endfor %}
        </tr>
        {% endfor %}


    </table>

</body>

</html>